@model AspnetCoreMvcFull.Models.RegisterViewModel


@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Register Basic - Pages";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">

            <!-- Register Card -->
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo"><img src="~/img/icons/logonun dikey renkli kullanımı.png" height="100" width="100" /></span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <h4 class="justify-content-center">AK PARTİ'M </h4>
                        </a>
                    </div>
                    <div>
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                    <form id="formAuthentication" class="mb-6" action="/Account/Register" method="POST">
                        <div class="mb-6">
                            <input asp-for="TcKimlikNo" class="form-control " placeholder="T.C. Kimlik Numarası" />
                        </div>
                        <div class="mb-6">
                            <input asp-for="FirstName" class="form-control " placeholder="İsim" />
                        </div>
                        <div class="mb-6">
                            <input asp-for="LastName" class="form-control " placeholder="Soyisim" />
                        </div>
                        <div class="mb-6">
                            <input asp-for="Email" type="email" class="form-control " placeholder="E-mail" />
                        </div>
                        <div class="mb-6">
                            <input asp-for="PhoneNumber" class="form-control " placeholder="Telefon Numarası (555)-(555)(55)(55)" />
                        </div>

                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password"></label>
                            <div class="input-group input-group-merge">
                                <input type="password" asp-for="Password" class="form-control " placeholder="Parola" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password"></label>
                            <div class="input-group input-group-merge">
                                <input type="password" asp-for="ConfirmPassword" class="form-control " aria-describedby="password" placeholder="Parola Tekrar" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>


                        <div class="my-8">
                            <div class="form-check mb-0 ms-2">
                                
                                   
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100">
                            Kayıt Ol
                        </button>
                    </form>                  
                    
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>
