@model AspnetCoreMvcFull.Models.ViewModel.CreateRequestTypeViewModel

@{
    ViewData["Title"] = "Yeni Talep Tipi Oluştur";
}

<div class="card">
    <h5 class="card-header">Yeni Talep Tipi Oluştur</h5>
    <div class="card-body">
        <p class="mb-4">Yeni bir talep tipi oluşturmak için aşağıdaki alanı doldurup kaydedebilirsiniz.</p>


        <form asp-action="Create" method="post">
            <div class="row">
                <!-- Talep Tipi -->
                <div class="col-md-6 mb-3">
                    <label asp-for="Type" class="form-label">Talep Tipi</label>
                    <input asp-for="Type" class="form-control" required />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Index", "RequestType")" class="btn btn-outline-secondary me-2">Talep Tipi Listesine Dön</a>
                <button type="submit" class="btn btn-dark">Kaydet</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
